@model IEnumerable<TodoApp.Models.Todo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>this is the index</p>

<a href="/Home/Create">Create New Todo</a>
@foreach (var todo in Model)
{
    <div>
        <a href="/home/details/@todo.Id">@todo.Id - @todo.Description </a>
        <a href="/home/delete/@todo.Id">Delete</a>
    </div>
}